<div class="flex_form">
    <div class="flex_content">
        <h4>Edit Product</h4>
        <form #f="ngForm"
              (ngSubmit)="onSubmit()">
            <div class="form_group">
                <label for="productName">Product Name</label>
                <input type="text"
                       class="form-control"
                       name="name"
                       required
                       [(ngModel)]="model.name"
                       id="productName"
                       >
            </div>
            <div class="form_group">
                <label for="productDescription">Description</label>
                <textarea class="form-control"
                          id="productDescription"
                          name="description"
                          required
                          [(ngModel)]="model.description"
                          ></textarea>
            </div>
            <div class="form_row">
                <div class="form_group quantity">
                    <label for="productPrice">Price</label>
                    <input type="text"
                           class="form-control"
                           name="price"
                           required
                           [(ngModel)]="model.price"
                           id="productPrice"
                           >
                </div>
                <div class="form-group quantity">
                    <label for="productQuantity">Quantity</label>
                    <input type="number"
                           class="form-control"
                           name="quantity"
                           required
                           [(ngModel)]="model.quantity"
                           id="productQuantity"
                           >
                </div>
            </div>
            <div class="form_group">
                <label for="productImageUrl">Image Url</label>
                <input type="text"
                       class="form-control"
                       id="productImageUrl"
                       required
                       name="imageUrl"
                       [(ngModel)]="model.imageUrl"
                       >
            </div>
            <button class="button back_button"
                    [routerLink]="['/product/list']"
                    type="submit">Back To List</button>
            <button class="button edit_button"
                    type="submit"
                    [disabled]="f.invalid">Edit Product</button>
        </form>

    </div>
</div>