<div class="maincont">

  <h4>Products</h4>

  <div class="add_button">
    <button type="button"
            class="btn btn-success"
            (click)='onAddClick()'>Add New Product <i class="fas fa-plus"></i></button>
</div>



  <ul class="prodlist">
    <li class="prod_card" *ngFor="let product of products | paginate: { id: 'foo',
                 itemsPerPage: 10,
                 currentPage: page,
                 totalItems: totalRecords }">
      <div class="card_el">
        <img src="{{product.imageUrl}}" alt="Product Image">
        <div class="card_el_body">
          <h5>{{product.name}}</h5>
          <p >Price : ${{product.price}}</p>
          <p >Quantity : {{product.quantity}}</p>
        </div>
        <div class="details_button">
                     <button type="button" [routerLink]="['/product/get', product.id]">Details</button>
        </div>
      </div>
    </li>
  </ul>
  <pagination-controls class="pag" id="foo" (pageChange)="page = $event" maxSize="9" directionLinks="true"
    autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</div>