<div class="row justify-content-center">
    <div class="col-8 mt-4">
        
        <h4>Products</h4>
        
        <div class="text-right">
          <button type="button"
                  class="btn btn-success"
                  [routerLink]="['/product/add']">Add New Product <i class="fas fa-plus"></i></button>
        </div>
       

        <div class="row">
            <div class="col-lg-4 col-md-6 mt-3"
                 *ngFor="let product of products | paginate: { id: 'foo',
                 itemsPerPage: 10,
                 currentPage: page,
                 totalItems: totalRecords }"> 
                 <!-- <div class="col-lg-4 col-md-6 mt-3"
                 > -->
                <div class="card">
                    <img src="{{product.imageUrl}}"
                         class="card-img-top"
                         alt="Product Image">
                    <div class="card-body">
                        <h6 class="card-title">{{product.name}}</h6>
                        <p class="card-text">Price : ${{product.price}}</p>
                        <p class="card-text">Quantity : {{product.quantity}}</p>
                    </div>
                    <div class="text-center mb-1">
                        <div class="btn-group"
                             role="group"
                             aria-label="Basic example">
                            <button type="button"
                                    class="btn btn-info"
                                    [routerLink]="['/product/get', product.id]"><i class="fas fa-search"></i>Details</button>
                        </div>
                        
                    </div>
                </div>
              

                <!-- <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products | paginate: { id: 'foo',
                        itemsPerPage: 10,
                        currentPage: page,
                        totalItems: totalRecords }" >
                            <td><img src="{{product.imageUrl}}"
                                class="card-img-top"
                                alt="Product Image"></td>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.quantity}}</td>
                            <td><button type="button"
                                class="btn btn-info"
                                [routerLink]="['/product/get', product.id]"><i class="fas fa-search"></i>Details</button></td>   
                        </tr>

                    </tbody>
                </table> -->
               
                <!-- <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li *ngFor="let i of getArrayFromNumber(products.length); let in = index" class="page-item"><a class="page-link" (click)="updateIndex(in)")>{{in+1}}</a></li>
                     
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav> -->
               
            </div>
           
        </div>
        <pagination-controls class="pag"  id="foo"
        (pageChange)="page = $event"
        maxSize="9"
        directionLinks="true"
        autoHide="true"
        responsive="true"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
        </pagination-controls>    
</div>
 