.ngx-pagination{
   margin-top:10px; 
}
.card{
    margin-bottom: 10px;
}
.prodlist{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}
.maincont{
    justify-content: center;
}
.maincont h4{
    text-align: center;
    margin: 1rem;
}
.add_button{
    text-align: right;
    margin-right: 1rem;
}
.add_button button{
    border-radius: 10px;
}
li{
    margin-top: 1rem
}
.prod_card{
    position: relative;
    width: 100%;

    padding-right: 15px;
    padding-left: 15px;
}
p {
    margin-top: 0;
    margin-bottom: 0.75rem;
}
@media (min-width: 768px){
.prod_card {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}
}
@media (min-width: 992px){
    .prod_card {
        -webkit-box-flex: 0;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
     }
}
.card_el{
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.card_el img{
    flex-shrink: 0;
    width: 100%;
    vertical-align: middle;
    border-style: none;
}
.card_el_body{
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card_el_body h5{
    margin-bottom: 0.75rem;
}
.card_el_body p:last-child{
    margin-bottom: 0;
}
.details_button{
    text-align: center;
}
.details_button button{
    outline: none;
    color: #fff;
    background-color: #9954BB;
    border-color: #9954BB;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #9954BB ;
    padding: 0.375rem 0.75rem;
    border-radius: 10px 10px 0px 0px;
    font-size: 0.9375rem;
    line-height: 1.5;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.details_button button:hover{
    background-color: #8b4caa;
}
