<div class="flex_form">
    <div class="flex_content">
        <h4>Add Product</h4>
        <form #f="ngForm"
              (ngSubmit)="onSubmit(f)">
            <div class="form_group">
                <label for="productName">Product Name</label>
                <input type="text"
                       ngModel
                       required
                       name="name"
                       class="form-control"
                       id="productName"
                       placeholder="Name">
            </div>
            <div class="form_group">
                <label for="productDescription">Description</label>
                <textarea class="form-control"
                          ngModel
                          name="description"
                          class="form-control"
                          id="productDescription"
                          placeholder="Product Description"></textarea>
            </div>
            <div class="form_row">
                <div class="form-group quantity">
                    <label for="productPrice">Price</label>
                    <input type="text"
                           name="price"
                           ngModel
                           required
                           class="form-control"
                           id="productPrice"
                           placeholder="">
                </div>
                <div class="form_group quantity">
                    <label for="productQuantity">Quantity</label>
                    <input type="number"
                           name="quantity"
                           required
                           ngModel
                           class="form-control"
                           id="productQuantity"
                           placeholder="">
                </div>
            </div>
            <div class="form_group">
                <label for="productImageUrl">Image Url</label>
                <input type="text"
                       name="imageUrl"
                       ngModel
                       required
                       class="form-control"
                       id="productImageUrl">
            </div>
            <button class="button back_button"
                    [routerLink]="['/product/list']"><i class="fas fa-arrow-left"></i> Back To List</button>
            <button class="button button_add"
                    type="submit"
                    [disabled]="f.invalid">Add Product <i class="fas fa-plus"></i></button>
        </form>

    </div>
</div>