<div class="flex_container">
    <div class="product_details"
         *ngIf="product$ | async as product">
        <h4>Product Detail</h4>
        <div class="flex_inside">
            <div class="flex_image">
                <img class="card-img-top"
                     src={{product.imageUrl}}
                     alt="Card image cap">
                <div class=" mt-4">
                    <div>
                        <p>Price: ${{product.price}}</p>
                    </div>
                    <div>
                        <p>
                            Quantity: {{product.quantity}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex_text">
                <div class="prod_card">
                    <h5>{{product.name}}</h5>
                    <p >{{product.description}}
                    </p>
                </div>
                <div class="buttons_center">
                    <div class="edit_buttons">
                        <button type="button"
                                class="button edit_button {{visibility}}"
                                [routerLink]="['/product/edit', product.id]">Edit <i class="fas fa-edit"></i></button>
                        <button type="button"
                                (click)="deleteProduct(product.id)"
                                class="button remove_button {{visibility}}">Remove <i class="fas fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <button class="button back_button"
                    [routerLink]="['/product/list']"
                    routerLinkActive="router-link-active"><i class="fas fa-arrow-left"></i> Back To List</button>
        </div>
    </div>

</div>